.header {
  background: #f1c40f;
  width: 100%;
  left:0;
  height: 150px;
  position: relative;
}
.header > img {
  height: inherit;
  position: relative;
  left:5px;
  /* margin-left: -4px; */
  background-size: contain;
}
